#vscode
.vscode/
*.code-workspace

#destination
user_upload/
files/

#caches
__pycache__/
*.py[cod]

#envs
env_req.txt
.env/
env/
envs/
.envs/
.testenv/
*.envfile

#garbage
.DS_Store

#results
*.xlsx

#test
test.py
*.ipynb

#pyenv
*.python-version

#credentials
credentials.json

#stores
*.pickle