<!DOCTYPE html>
<html lang="ko=kr">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134231839-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-134231839-1');
	</script>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KVQN82K');</script>
	<!-- End Google Tag Manager -->

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/lib/php-mail-form/validate.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
	<meta charset="utf-8">
	{% if page_title %}
	<title>Small Arms - {{ page_title }}</title>
	{% else %}
	<title>Small Arms</title>
	{% endif %}
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Favicons -->
	<link href="../static/img/favicon.png" rel="icon">
	<link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|EB+Garamond" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link href="../static/css/style.css" rel="stylesheet">

	<!-- =======================================================
    Template Name: Minimal
    Template URL: https://templatemag.com/minimal-bootstrap-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>
{% block contents %}
{% endblock %}
</html>