{% extends "layout.html" %}
{% block contents %}

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <!-- <div id="headerwrap"> -->
  <div id="headerwrap">
    <div class="container">
      <div class="logo">
        <!-- <img src="static/img/logo.png"> -->
        <h2>Quantum Pirates</h2>
      </div>
      <br>
      <div class="row">
        <h1>리포트 텍스트 생성기</h1>
        <h3 style="font-style: oblique">
          엑셀 파일을 업로드하면 텍스트가 생성됩니다.
          <h4>현대카드 리포트 4종을 지원합니다.</h4>
        </h3>
        <br>
        <br>
        <!-- <div class="col-lg-6 col-lg-offset-3">
        </div> -->
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">

          <form onsubmit="ga('send', 'event', '리포트텍스트', '생성', '리워드리포트');" method=post enctype=multipart/form-data class="contact-form">

            <div class="form-group">
              <label for="filename">파일 업로드</label>
              <input name="file" type="file" id="filename" class="form-control">
            </div>

            <div class="form-group">
              <label for="contact-subject">주차(필요시)</label>
              <input type="text" name="week" class="form-control" id="contact-subject" placeholder="예시) 2월 23주" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
            </div>


            <div class="form-send">
              <button type="submit" class="btn btn-large" onclick="ga('send', 'event', '리포트텍스트', '생성', '리워드리포트');">텍스트
                생성하기</button>

            </div>

          </form>

        </div>
      </div>

    </div>
    <!-- /container -->
  </div>
  <!-- /headerwrap -->

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Minimal</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/minimal-bootstrap-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Minimal template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>

</body>
{% endblock contents %}